.nav {
  display: flex;
  justify-content: center;
}

.nav ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav li {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .MobileMenu {
    display: none;
  }
}
