.container {
  max-width: var(--desktop-width);
  margin: 0 auto;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.swiperSlide {
  width: 250px;

  & img {
    width: 100%;
    height: 100%;
  }
}
