.section {
  display: flex;
  flex-direction: column;
  color: var(--light-color-text);
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 65rem;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-family-secondary);
}

.section h2 {
  font-size: 2rem;
  line-height: 4rem;
  font-weight: bold;

  letter-spacing: 0.15rem;
  text-transform: uppercase;
  background: linear-gradient(90deg, #f9572a, #ffc905);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper {
  position: relative;
  overflow: auto;
  margin: 2rem 1rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.inner {
  position: relative;
  width: 2180px;
  height: 240px;
  background-color: aliceblue;
  margin: 0 auto;
}

.heroImage {
  position: absolute;
  object-fit: cover;

  width: 100%;
  height: auto;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

@media (min-width: 768px) {
  .wrapper {
    margin: 3rem 1rem;
  }

  .inner {
    width: 2880px;
    height: 320px;
  }
}

@media (min-width: 1440px) {
  .wrapper {
    margin: 8rem 2rem 5rem 2rem;
  }
}
