.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  text-decoration: none;
  color: var(--light-color-text);
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.logo img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

.stamp {
  color: var(--light-color-text);
}
