.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
  font-size: 1.25rem;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  color: var(--light-color-text);
  font-weight: bold;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.logo img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.5));
}

@media (min-width: 500px) {
  .logo {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 2rem 4%;
  }

  .logo {
    font-size: 1.5rem;
    gap: 2rem;
  }

  .logo img {
    width: 5rem;
    height: 5rem;
  }
}
